#toolbar-bar{
  background-color: var(--topBackground);
}
.toolbar .toolbar-bar .toolbar-item{
  color: var(--topColor);
}
#toolbar-item-administration-tray{
  background-color: var(--submenuBackground);
}

@media only screen and (min-width: 16.5em) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    width: 3.5em;
  }
}
@media only screen and (min-width: 36em) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    width: auto;
  }
}
.toolbar_simplifying .small_button {
  padding-right: 0 !important;
  min-height: 39px;
  background-color: #333333 !important;
  text-indent: -9999px !important;
  width: 0 !important;
}
.toolbar-icon-simplifying_unread::before {
  background-image: url(../images/writing_grey.svg);
}
.toolbar-icon-simplifying_unread.is-active::before {
  background-image: url(../images/writing_white.svg);
}
.toolbar-icon-simplifying_switch::before {
  background-image: url(../images/logo_g.svg);
}
#toolbar-item-simplifying-unread-tray .menu-item ,
#toolbar-item-simplifying-tray .menu-item {
  margin: 0;
}
#toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify {
  background: url(../images/a_large.svg) 12px center no-repeat;
  background-size: 30px 25px;
  padding-left: 43px;
}
#toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify.is-active {
  background: url(../images/a_small.svg) 12px center no-repeat;
  background-size: 30px 25px;
}
#toolbar-item-simplifying-tray .toolbar-icon-simplifying_services {
  background: url(../images/service-grey.svg) 12px center no-repeat;
  background-size: 25px 20px;
  padding-left: 43px;
}
#toolbar-item-simplifying-tray .toolbar-icon-simplifying_training {
  background: url(../images/training-grey.svg) 12px center no-repeat;
  background-size: 25px 20px;
  padding-left: 41px;
}

/* gin theme fix */
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_switch,
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_unread {
  outline: none;
}
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_unread::before {
  -webkit-mask-image: url(../images/writing_grey.svg);
  mask-image: url(../images/writing_grey.svg);
}
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_unread.is-active::before {
  -webkit-mask-image: url(../images/writing_white.svg);
  mask-image: url(../images/writing_white.svg);
}
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_switch.is-active::before ,
body.gin--classic-toolbar .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.toolbar-icon-simplifying_switch::before {
  -webkit-mask-image: url(../images/logo_g.svg);
  mask-image: url(../images/logo_g.svg);
}

body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify,
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify.is-active {
  background: none;
  padding-left: 35px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify::before {
  -webkit-mask-image: url(../images/a_large.svg);
  mask-image: url(../images/a_large.svg);

  background-color: var(--colorGinIcons);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 30px 25px;
  mask-size: 30px 25px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_minify.is-active::before {
  -webkit-mask-image: url(../images/a_small.svg);
  mask-image: url(../images/a_small.svg);
  background: var(--colorGinPrimary);
}

body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_services,
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_services.is-active {
  background: none;
  padding-left: 35px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_services::before {
  -webkit-mask-image: url(../images/service-grey.svg);
  mask-image: url(../images/service-grey.svg);

  background-color: var(--colorGinIcons);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 25px 20px;
  mask-size: 25px 20px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_services.is-active::before {
  -webkit-mask-image: url(../images/service-grey.svg);
  mask-image: url(../images/service-grey.svg);
  background: var(--colorGinPrimary);
}

body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_training,
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_training.is-active {
  background: none;
  padding-left: 35px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_training::before {
  -webkit-mask-image: url(../images/training-grey.svg);
  mask-image: url(../images/training-grey.svg);

  background-color: var(--colorGinIcons);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 25px 20px;
  mask-size: 25px 20px;
}
body.gin--classic-toolbar #toolbar-item-simplifying-tray .toolbar-icon-simplifying_training.is-active::before {
  -webkit-mask-image: url(../images/training-grey.svg);
  mask-image: url(../images/training-grey.svg);
  background: var(--colorGinPrimary);
}