{% if data.langcode == 'uk' %}
  <h2>Для замовлення:</h2>
  <ol>
    <li>Редизайну сайту (виготовлення нових тем Drupal, дизайну і верстки сайту)</li>
    <li>Нового сайту на drupal</li>
  </ol>
  <p>Просимо написати на нашу електронну адресу — <a href="mailto:order@glyanec.net">order@glyanec.net</a> або подзвонити за номером 0(800)759-759 (дзвінок безкоштовний)</p>
  <p>&nbsp;</p>

  <h2>Для замовлення додаткових робіт по сайту:</h2>
  <ol>
    <li>Погодинні роботи (доопрацювання по сайту, внесення змін на сайт)</li>
    <li>Оновлення ядра сайту і модулів до актуальної версії</li>
    <li>Оптимізація сайту (по google page speed <a href="https://developers.google.com/speed/pagespeed/insights?url={{ data.base_url }}">https://developers.google.com/speed/pagespeed/insights</a>)</li>
    <li>Технічної підтримки <a href="https://glyanec.net/ua/pidtrymka-saytiv">https://glyanec.net/ua/pidtrymka-saytiv</a> (підтримка вашого сайту)</li>
    <li>Хостингу drupal сайтів <a href="https://glyanec.net/ua/hosting">https://glyanec.net/ua/hosting</a> (розміщення вашого сайту в інтернет-мережі)</li>
  </ol>
  <p>Просимо написати на нашу електронну адресу — <a href="mailto:m@glyanec.net">m@glyanec.net</a></p>
  <p>&nbsp;</p>

  <h2>З усіх інших питань і консультацій — можете звернутися за нашими контактами:</h2>
  <p>Україна: <b>0 (800) 750-751</b> <i>(безкоштовно)</i></p>
  <p>Київ: <b>+38 (044) 383-00-69</b></p>
  <p>Email: <b><a href="mailto:m@glyanec.net">m@glyanec.net</a></b></p>
{% elseif data.langcode == 'ru' %}
  <h2>Для заказа:</h2>
  <ol>
    <li>Редизайна сайта (изготовления новых тем Drupal, дизайна и верстки сайта)</li>
    <li>Нового сайта на drupal</li>
  </ol>
  <p>Просим написать на наш электронный адрес — <a href="mailto:order@glyanec.net">order@glyanec.net</a> или позвонить по телефону 0 (800) 759-759 (звонок бесплатный)</p>
  <p>&nbsp;</p>
  
  <h2>Для заказа дополнительных работ по сайту:</h2>
  <ol>
    <li>Почасовые работы (доработки по сайту, внесения изменений на сайт)</li>
    <li>Обновление ядра сайта и модулей до актуальной версии</li>
    <li>Оптимизация сайта (по google page speed <a href="https://developers.google.com/speed/pagespeed/insights?url={{ data.base_url }}">https://developers.google.com/speed/pagespeed/insights</a> )</li>
    <li>Технической поддержки <a href="https://glyanec.net/ru/podderzhka-saytov">https://glyanec.net/ru/podderzhka-saytov</a> (поддержка вашего сайта)</li>
    <li>Хостинга drupal сайтов <a href="https://glyanec.net/ru/hosting">https://glyanec.net/ru/hosting</a> (размещение вашего сайта в интернет-сети)</li>
  </ol>
  <p>Просим написать на наш электронный адрес — <a href="mailto:m@glyanec.net">m@glyanec.net</a></p>
  <p>&nbsp;</p>

  <h2>По всем остальным вопросам и консультациям — можете обратиться по нашим контактам:</h2>
  <p>Украина: <b>0 (800) 750-751</b> <i>(бесплатно)</i></p>
  <p>Киев: <b>+38 (044) 383-00-69</b></p>
  <p>Email: <b><a href="mailto:m@glyanec.net">m@glyanec.net</a></b></p>
{% else %}
  <h2>For order:</h2>
  <ol>
    <li>Redesign of the website (making new Drupal themes, site design and layout)</li>
    <li>New website on drupal</li>
  </ol>
  <p>Please write to our e-mail address — <a href="mailto:order@glyanec.net">order@glyanec.net</a> or call 0 (800) 759-759 (call free)</p>
  <p>&nbsp;</p>

  <h2>To order additional work on the website:</h2>
  <ol>
    <li>Hourly work (improvements on the website, making changes to the website)</li>
    <li>Upgrading the website core and modules to the latest version</li>
    <li>Site Optimization (by google page speed <a href="https://developers.google.com/speed/pagespeed/insights?url={{ data.base_url }}">https://developers.google.com/speed/pagespeed/insights</a>)</li>
    <li>Technical support <a href="https://glyanec.net/en/support-sites">https://glyanec.net/en/support-sites</a> (support for your website)</li>
    <li>Hosting for the drupal websites <a href="https://glyanec.net/en/hosting">https://glyanec.net/en/hosting</a> (placing your site on the Internet)</li>
  </ol>

  <p>Please write to our email — <a href="mailto:m@glyanec.net">m@glyanec.net</a></p>
  <p>&nbsp;</p>

  <h2>For all other questions and advice — contact us:</h2>
  <p>Ukraine: <b>0 (800) 750-751</b> <i>(free)</i></p>
  <p>Kyiv: <b>+38 (044) 383-00-69</b></p>
  <p>Email: <b><a href="mailto:m@glyanec.net">m@glyanec.net</a></b></p>
{% endif %}